body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

.episode-detail {
    max-width: 900px;
    margin: 20px auto;
    background-color: #fff;
    padding: 70px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 70px;
}

.thumbnail-container {
    text-align: center;
}

.thumbnail-container img {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.episode-images {
    margin-top: 30px;
}

.episode-images h3 {
    text-align: center;
    color: #555;
}

.episode-images ul {
    display: block;  /* 세로로 정렬 */
    padding: 0;
    list-style-type: none;
}

.episode-images li {
    display: block;  /* 각 이미지를 세로로 나열 */
    text-align: center;
}

.episode-images img {
    max-width: 700px;  /* 가로 크기 제한 */
    max-height: 7800px;  /* 세로 크기 제한 */
    width: auto;  /* 비율 유지 */
    height: auto;  /* 비율 유지 */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* 댓글 등록 폼 스타일 */
.comment-form {
    max-width: 1000px;  /* 가로 길이 늘림 */
    margin: 20px auto 40px auto;  /* 중앙 정렬, 하단 마진 추가 */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.comment-form form {
    display: flex;
    flex-direction: column;
}

.comment-form textarea {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    resize: vertical;
    margin-bottom: 20px;
    min-height: 100px;
    background-color: #f9f9f9;
}

.comment-form button.btn-submit {
    align-self: flex-end;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.comment-form button.btn-submit:hover {
    background-color: #45a049;
}

/* 댓글 목록 스타일 */
.comments-list {
    max-width: 1000px;  /* 가로 길이 늘림 */
    margin: 20px auto 40px auto;  /* 중앙 정렬, 하단 마진 추가 */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.comments-list h2 {
    font-size: 18px;
    margin-bottom: 20px;
    color: #333;
}

.comments-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.comment-item {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.comment-header {
    font-weight: bold;
    font-size: 14px;
    color: #555;
    display: flex;
    justify-content: space-between;
}

.comment-date {
    font-size: 12px;
    color: #888;
}

.comment-item p {
    font-size: 14px;
    color: #333;
    margin: 10px 0;
}

.comment-item .btn-delete {
    font-size: 12px;
    color: #e74c3c;
    text-decoration: none;
}

.comment-item .btn-delete:hover {
    text-decoration: underline;
}

