body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

.episode-detail {
    max-width: 900px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.thumbnail-container {
    text-align: center;
}

.thumbnail-container img {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.episode-images {
    margin-top: 30px;
}

.episode-images h3 {
    text-align: center;
    color: #555;
}

.episode-images ul {
    display: block;  /* 세로로 정렬 */
    padding: 0;
    list-style-type: none;
}

.episode-images li {
    display: block;  /* 각 이미지를 세로로 나열 */
    text-align: center;
}

.episode-images img {
    max-width: 700px;  /* 가로 크기 제한 */
    max-height: 7800px;  /* 세로 크기 제한 */
    width: auto;  /* 비율 유지 */
    height: auto;  /* 비율 유지 */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
