
body {
    background-color: #f6f6f6;
}
.toonlist-container {
    display: flex;
    min-height: calc(100vh - 70px);
}

.sidebar {
  width: 17%;/* 네비게이션 바 아래부터 화면 끝까지 차지 */
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
.icon-status {
  display: none;
}
.profile-link {
  text-decoration: none !important;
}

.sidebar-item a {
  display: flex;
  margin-top: 25px; /* 각 항목 사이의 간격 */
  cursor: pointer;
  color: #000000 !important;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: -0.408px;
  text-decoration: none !important;
}

.sidebar-item:hover {
  color: #414141 !important; /* 항목에 마우스를 올렸을 때 색상 변경 */
}

.sidebar-icon {
  margin-right: 10px; /* 아이콘과 텍스트 사이의 간격 */
  color: #7b7b7b; /* 기본 아이콘 색상 */
}

.sidebar-item:hover .sidebar-icon {
  color: #414141 !important; /* 호버 시 아이콘 색상 변경 */
}

.sidebar-item:first-child {
  margin-top: 20px;
}

.container {
    width: 1000px;
    flex-shrink: 0;
}

.webtoon-list {
    padding: 32px 0 50px 30px;
}

.webtoon-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 10px;
    gap: 15px;
}

/* 썸네일 이미지 */
.webtoon-thumbnail {
    width: 160px;
    height: 207px;
    object-fit: cover;
}

.webtoon-content {
    white-space: normal;        /* 줄바꿈을 정상적으로 허용 */
    word-wrap: break-word;      /* 구형 문법 */
    overflow-wrap: break-word;  /* 최신 문법 */
    word-break: break-all;      /* 영어 단어도 글자 단위로 줄바꿈(필요 시) */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 272px;
    margin-top: 5px;
    flex-grow: 0.9;
}

.webtoon-container {
    display: flex;
    column-gap: 10px;
}

.webtoon-card {
    width: 100%;
    background: #fff;
    padding: 19px;
    max-width: 480px;
    border-radius: 3px;
    border: 1px solid #ebebeb;
}

.webtoon-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.webtoon-genre {
    margin-top: 6px;
}

.webtoon-buttons {
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 12px;
    padding-top: 10px;
}

.webtoon-buttons a {
    display: block;
    text-align: center;
    padding: 10px 20px;
    background-color: #f0f0f0; /* 버튼 배경색 */
    border-radius: 8px; /* 버튼 모서리 둥글게 */
    text-decoration: none; /* 링크 밑줄 제거 */
    color: #333; /* 텍스트 색상 */
    font-size: 0.87rem;
}