/* 전체적인 폼 스타일 */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.content_wrap {
    display: flex;
    min-height: calc(100vh - 70px);
}

.sidebar {
  width: 17%;/* 네비게이션 바 아래부터 화면 끝까지 차지 */
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
.icon-status {
  display: none;
}
.profile-link {
  text-decoration: none !important;
}

.sidebar-item a {
  display: flex;
  margin-top: 25px; /* 각 항목 사이의 간격 */
  cursor: pointer;
  color: #000000 !important;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: -0.408px;
  text-decoration: none !important;
}

.sidebar-item:hover {
  color: #414141 !important; /* 항목에 마우스를 올렸을 때 색상 변경 */
}

.sidebar-icon {
  margin-right: 10px; /* 아이콘과 텍스트 사이의 간격 */
  color: #7b7b7b; /* 기본 아이콘 색상 */
}

.sidebar-item:hover .sidebar-icon {
  color: #414141 !important; /* 호버 시 아이콘 색상 변경 */
}

.sidebar-item:first-child {
  margin-top: 20px;
}

/* 폼 컨테이너 스타일 */
form {
    padding: 60px 100px 0;
    min-width: 600px;
    display: flex;
    flex-direction: column; /* 세로 방향으로 정렬 */
}

/* 폼 그룹 스타일 */
.form-group {
    margin-bottom: 20px;
}

/* 라벨 스타일 */
label {
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
}

/* 입력 필드 스타일 */
.input[type="text"],
select,
input[type="file"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    max-height: 300px; /* 내용 칸 크기 제한 */
}

/* 포커스 시 스타일 */
.input[type="text"]:focus,
select:focus,
input[type="file"]:focus,
textarea:focus {
    border-color: #007bff;
    outline: none;
}

/* 썸네일 미리보기 이미지 */
.thumbnail-container {
    margin-top: 15px;
    text-align: center;
}

.thumbnail-container img {
    width: 160px;
    height: 207px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.thumbnail-container input {
    display: none;
}

/* 버튼 스타일 */
button.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #202020   ;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: flex-end; /* 버튼을 오른쪽으로 정렬 */
}

/* 버튼 호버 스타일 */
button.btn:hover {
    background-color: #0056b3;
}

/* 작은 텍스트 스타일 */
small {
    font-size: 12px;
    color: #555;
    display: block;
    margin-top: 5px;
}

/* 반응형 스타일 (모바일에서 화면 크기에 맞게 폼을 조정) */
@media screen and (max-width: 768px) {
    form {
        padding: 15px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    button.btn {
        width: 100%;
        padding: 12px;
    }
}
