<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>접근 거부</title>
    <link rel="stylesheet" href="/access_denied.css">
</head>
<body>
<div class="container">
    <h1>접근이 거부되었습니다.</h1>
    <p>본인만 접근 가능한 페이지입니다. 접근 권한이 없는 사용자입니다.</p>
    <div class="buttons">
        <a href="/login/user" class="btn">로그인 페이지</a>
        <a href="/" class="btn btn-main">메인 페이지</a>
    </div>
</div>
</body>
</html>
