<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시글 상세</title>
    <link rel="stylesheet" href="/board_detail.css">
</head>
<body>
<!-- 게시글 내용 -->
<div class="board-detail">
    <h1 th:text="${board.title}"></h1>
    <p th:text="${board.content}"></p>
</div>

<!-- 게시글 상세 페이지에서 추천 버튼 -->
<!-- 추천 기능 -->
<div class="recommendation">
    <form th:action="@{|/board/recommend/${board.id}|}" method="POST">
        <!-- 추천 버튼 -->
        <button type="submit" class="btn-recommend" th:text="${message != null ? message : '추천'}"></button>
    </form>
    <!-- 추천 수 -->
    <span>추천 수: <span th:text="${board.likes}"></span></span>
</div>

<!-- 댓글 입력 폼 -->
<div class="comment-form">
    <form th:action="@{|/comment/create/${board.id}|}" method="post">
        <!-- 로그인되지 않았을 때 댓글 등록시 에러 메시지 출력 -->
        <div th:if="${loginMessage}" style="color: red !important; margin-bottom: 20px;">
            <p th:text="${loginMessage}"></p>
        </div>
        <!-- 빈문자열,공백 댓글 등록시 에러 메시지 출력 -->
        <div th:if="${errorContent}" style="color: red !important; margin-bottom: 20px;">
            <p th:text="${errorContent}"></p>
        </div>
        <textarea name="content" id="content" rows="4" placeholder="댓글을 입력하세요..."></textarea>
        <button type="submit" class="btn-submit">댓글등록</button>
    </form>
</div>

<!-- 게시글 수정/삭제 버튼 -->
<div th:if="${isAuthor}" class="board-actions">
    <a th:href="@{|/board/modify/${board.id}|}" class="btn-edit">수정하기</a>
    <a th:href="@{|/board/delete/${board.id}|}" class="btn-delete"
       onclick="return confirm('정말 삭제하시겠습니까?');">삭제하기</a>
</div>

<!-- 댓글 목록 출력 -->
<div class="comments-list">
    <h2>댓글 목록</h2>
    <ul>
        <li th:each="comment : ${comments}" class="comment-item">
            <div class="comment-header">
                <span th:text="${comment.siteUser != null ? comment.siteUser.nickname : comment.companyUser.companyName}"></span>
                <span class="comment-date" th:text="${#temporals.format(comment.createdDate, 'yyyy-MM-dd HH:mm')}"></span>
            </div>
            <p th:text="${comment.content}"></p>

            <div th:if="${loginUser != null && comment.siteUser?.id == loginUser?.id || loginCompanyUser != null && comment.companyUser?.id == loginCompanyUser?.id}" class="comment-actions">
                <a class="btn-delete"
                   th:href="@{/comment/delete/{id}(id=${comment.id})}"
                   onclick="return confirm('삭제하시겠습니까?');">
                    댓글 삭제
                </a>
            </div>
        </li>
    </ul>
</div>

</body>
</html>
