<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시판 목록</title>
    <link rel="stylesheet" th:href="@{/CSS/board_list.css}">
    <link rel="stylesheet" th:href="@{/CSS/Navber.css}">
</head>
<body>
<div th:replace="~{navbar :: navbar}"></div>
<section class="board-body">
<h1>게시판 목록</h1>
<!-- 게시판 타입 선택 드롭다운 -->
<form action="/board" method="get" class="board-type">
    <div>
    <label for="boardTypeId">게시판 타입:</label>
    </div>
    <div>
    <select name="boardTypeId" id="boardTypeId">
        <option th:each="boardType : ${boardTypes}"
                th:value="${boardType.id}"
                th:text="${boardType.boardTypeName}"
                th:selected="${boardType.id == boardTypeId}"></option>
    </select>
    </div>
    <div>
    <button type="submit">게시판 보기</button>
    </div>
    <a th:href="@{/board/create}" class="btn-register">등록하기</a>
</form>
<!-- 선택한 게시판 타입 표시 -->
<h2 th:text="${selectedBoardType.boardTypeName}"></h2>
<div class="board-list">

<div class="announcement">
    <ul>
        <li>공지사항</li>
    </ul>
</div>
<!-- 게시판 목록 -->
<ul>
    <li th:each="board, iterStat : ${boardList}" style="display: flex; justify-content: space-between; align-items: center;">
        <!-- 왼쪽 영역: 번호와 제목 -->
        <div>
            <div class="board-number">
            <!-- 게시물 번호 -->
            <span th:text="${currentPage * size + iterStat.index + 1}"></span>
            </div>
            <!-- 게시물 제목 -->
            <a th:href="@{|/board/detail/${board.id}|}" th:text="${board.title}"></a>
        </div>
        <!-- 오른쪽 영역: 등록 날짜 -->
        <span th:text="${#temporals.format(board.createdDate, 'yyyy-MM-dd HH:mm')}"></span>
    </li>
</ul>
</div>
<!-- 페이징 -->
<div>
    <span th:if="${currentPage > 0}">
        <a th:href="@{|/board?boardTypeId=${boardTypeId}&page=${currentPage - 1}&size=12|}">이전</a>
    </span>
    <span>페이지: <span th:text="${currentPage + 1}"></span> / <span th:text="${totalPages}"></span></span>
    <span th:if="${currentPage + 1 < totalPages}">
        <a th:href="@{|/board?boardTypeId=${boardTypeId}&page=${currentPage + 1}&size=12|}">다음</a>
    </span>
</div>
</section>
<script src="/JS/dropdown.js"></script>
</body>
</html>
