<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시글 상세</title>
    <link rel="stylesheet" href="/board_detail.css">
    <link rel="stylesheet" th:href="@{/CSS/Navber.css}">
</head>
<body>
<div th:replace="~{navbar :: navbar}"></div>


    <div class="content-wrapper">
        <div class="post-details">
            <h1 th:text="${board.title}"></h1>
            <div class="details">
                <span class="nickname" th:text="'👤' + ${board.siteUser != null ? board.siteUser.nickname : board.companyUser.companyName}"></span>
                <span class="category" th:text="'📂' + ${board.boardType.boardTypeName}"></span>
                <span class="comments">💬 4</span>
                <span class="views">👀 260</span>
                <span class="likes">👍 1</span>
            </div>
        </div>

        <div class="post-content">
            <p th:text="${board.content}"></p>
            <div class="vote">
                <form th:action="@{|/board/${board.id}/recommend|}" method="POST">
                    <button type="submit" class="btn-recommend" th:text="${hasRecommended != null and hasRecommended ? '추천 취소' : '추천'}"></button>
                </form>
                <span>👍 <span th:text="${board.likes}"></span></span>
                <!-- 로그인되지 않은 경우, 에러 메시지 출력 -->
                <div th:if="${errorMessage}" style="color: red; margin-bottom: 20px;">
                    <p th:text="${errorMessage}"></p>
                </div>

            </div>
        </div>

        <div class="comments-section">
            <h2>💬 Comments</h2>
            <div class="comment">
                <span class="author">👤 트리스테인</span>
                <span class="time">7시간 전</span>
                <p>아, 치워 보면 괜찮네요</p>
            </div>
            <div class="comment">
                <span class="author">👤 박학다재</span>
                <span class="time">7시간 전</span>
                <p>왠지 교양있어 보입니다</p>
            </div>
            <!-- 추가 댓글 -->
        </div>
    </div>



<script src="/JS/dropdown.js"></script>
</body>
</html>
