<!DOCTYPE html>
<html lang="ko">
<head>
    <title>웹툰 회차 상세</title>
    <link rel="stylesheet" href="/episode_detail.css">
</head>
<body>
<div class="episode-detail">
    <h1 th:text="${episode.title}"></h1> <!-- 에피소드 제목 -->

    <!-- 썸네일 이미지 -->
    <div class="thumbnail-container">
        <img th:src="@{${episode.thumbnailImg}}" alt="썸네일 이미지">
    </div>

    <!-- 회차 이미지 -->
    <div class="episode-images">
        <h3>회차 이미지</h3>
        <ul>
            <li th:each="image : ${images}">
                <img th:src="@{${image.imageUrl}}" alt="Episode Image">
            </li>
        </ul>
    </div>
</div>
</body>
</html>
