<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로필 페이지</title>
    <link rel="stylesheet" href="/topbar.css">
    <link rel="stylesheet" href="/sidebar.css">
    <link rel="stylesheet" th:href="@{/CSS/user_modify.css}">
</head>
<body>
<div th:replace="~{topbar :: topbar}"></div>
<div th:replace="~{sidebar :: sidebar}"></div>

<div class="modify-type">
    <form th:action="@{/profile/companyUser/modify}" th:object="${companyUser}" method="post" class="user-modify-form">
        <div>
            <label>기업명:</label>
            <input type="text" th:field="*{companyName}" />
        </div>
        <div>
            <label>이메일:</label>
            <input type="email" th:field="*{email}" />
        </div>
        <div>
            <label>비밀번호:</label>
            <input type="password" th:field="*{password}" />
        </div>

        <!-- 에러 메시지가 버튼 아래에 표시되도록 이동 -->
        <div th:if="${errorMessage}" class="alert alert-danger">
            <p th:text="${errorMessage}"></p>
        </div>

        <div>
            <button type="submit">수정</button>
        </div>
    </form>
</div>
</body>
</html>
