<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>관심 작품</title>
    <link rel="stylesheet" href="/my_favorite_webtoon.css">
</head>
<body>
<h1>내 관심 작품</h1>

<div th:if="${favoriteWebtoons != null and not #lists.isEmpty(favoriteWebtoons)}">
    <ul>
        <li th:each="webtoon : ${favoriteWebtoons}">
            <!-- 각 웹툰 썸네일, 제목, 장르 출력 -->
            <a th:href="@{/main/page/webtoon/episode/{id}(id=${webtoon.id})}">
                <div class="webtoon-item">
                    <!-- 웹툰 썸네일 -->
                    <img th:src="@{${webtoon.thumbnailImg}}" alt="웹툰 썸네일" class="webtoon-thumbnail" />
                    <div class="webtoon-details">
                        <!-- 웹툰 제목 -->
                        <h2 th:text="${webtoon.title}">Webtoon Title</h2>
                        <!-- 웹툰 장르 -->
                        <p th:text="'# ' + ${webtoon.genreType.genreTypename}"></p>
                        <!-- 작가 이름 -->
                        <p th:text="'작가: ' + ${webtoon.siteUser.nickname}"></p>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>

<div th:if="${favoriteWebtoons == null or #lists.isEmpty(favoriteWebtoons)}">
    <p th:text="${message}"></p>
</div>
</body>
</html>
