<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Login</title>
    <link rel="stylesheet" href="/user_login.css">
</head>
<body>
<!-- 로그인 폼 -->
<form th:action="@{/user/login}" method="post">
    <h1>일반회원 로그인</h1>
    <label for="username">아이디</label>
    <input type="text" id="username" name="username" placeholder="아이디를 입력해주세요.">
    <br>
    <!-- 아이디에 대한 에러 메시지 -->
    <p th:if="${errorUserName}" th:text="${errorUserName}" class="error-message"></p>

    <label for="password">비밀번호</label>
    <input type="password" id="password" name="password" placeholder="비밀번호를 입력해주세요.">
    <br>
    <!-- 비밀번호에 대한 에러 메시지 -->
    <p th:if="${errorPassword}" th:text="${errorPassword}" class="error-message"></p>

    <button type="submit">로그인</button>
    <!-- 에러 메시지 표시 -->
    <div th:if="${errorMessage}" style="color: red;">
        <p th:text="${errorMessage}"></p>
    </div>
</form>
</body>
</html>
